<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lifetime Subscription</key>
	<string>lessphone.lifetime.unlock</string>
	<key>Yearly Subscription</key>
	<string>lessphone.subscription.yearly</string>
	<key>Monthly Subscription</key>
	<string>lessphone.subscription.monthly</string>
</dict>
</plist>
